@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
* { 
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3c1361;  
}

.btn {
  background-color: #ffffff;
  color: red;
  font-family: Indie Flower, Arial, Helvetica;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 15px;
  padding: 5px;
  border: 2px solid #7c5295;
  border-radius: 5px;
  box-shadow: 0 12px #7c5295, 18px rgba(0, 0, 0, 0.4);
  font-size: 60px;
  width: 90px;
  height: 80px;
  cursor: pointer;
  position: relative;
  top: 0;
  text-align: center;
}

.disabled .btn {
  cursor: default;
}

.disabled .btn:hover {
  top: 0;
  background: #ffffff;
  color: #7c5295;
  box-shadow: 0 12px #7c5295, 18px rgba(0, 0, 0, 0.4);
}

.btn.disabled {
  cursor: default;
}

.btn.disabled:hover {
  top: 0;
  background: #ffffff;
  color: #bca0dc;
  box-shadow: 0 12px #7c5295, 18px rgba(0, 0, 0, 0.4);
}

.btn:hover {
  background-color: #bca0dc;
  color: #3c1361;
  top: 4px;
  box-shadow: 0 8px #bca0dc, 14px rgba(0, 0, 0, 0.4);
}

.btn:active {
  top: 8px;
  box-shadow: 0 4px #bca0dc, 10px rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.game.info {
  margin: 15px;
  color: #ffffff;
}

.board > div {
  display: flex;
}